

.header_top {
    display: inline;
    background-color:blue;
    height: 60px;
    width: 100%;
    display: inline;

}
.navbar{
    background-color: aqua;
    height: 60px;
    width: 100%;

}
.navbar ul li {
    display: inline;
    text-decoration: none;
    padding-top: 20px;
}


corona_tracker{
    height: 100px;
    width: 100%;

}
.Moving_slide{
    background-color: blue;
    height: 60px;
    width: 100%;
    color: white;
    padding-top: 20px;

}

.coronacases_area {
    height: 400px;
    width: 100%;
    background-color:lightgray;
    
}

.coronacases_area-div_left{

 background-color: white;
 margin: 10px;
 padding: 10px;
 height: 100%;
 width: 55%;
 float: left;
 border-radius: 2px solid black;



}

.coronavirus_cases {
    background-color: blue;
}

.total_recovered{
    background-color: aquamarine;


}

.total_death{
    background-color: tomato;


}
.active_cases{
    background-color: yellow;

}


.section {
    border: 2px solid black;
    height: 800px;
    width: 100%;
    background-color: azure;

}


.section_left{
    margin: 40px 0px 0px 30px;

    float: left;
    height: 600Px;
    width: 50%;
    border: 1px solid black;


}

.section_right {
    float: right;
    height 600px;
    width: 45%;
    border: 1px black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }